/* Universal Styles */
html, body{
    background-color: #f7f3ef;
    margin:0;
    border:0;
    padding:0;
}
/* Login Form - index */
.login{
    margin: 5% 20%;
    width:60%;

    /*Extra stuff (mostly design)*/
    padding: 2%;
    border-radius: 5px;
    background-color: white;
}
.buttonLogin{
    margin-top: 2%;
}
.backboard{
    background-color: #37468E;
    position: absolute;
    width:100%;
    height:20%;
    border-bottom: 15px solid #6B91CB;
}
/*
    RESPONSIVE STUFF
    - if the screen is greater than 480px then
      the following will apply to the markup
*/
@media screen and (min-width: 1200px) {
    .login{
        width: 25%;
    }
}